common --enable_platform_specific_config
common --incompatible_use_plus_in_repo_names
common --experimental_google_legacy_api # needed by protobuf

# For @rules_java doc generation only, can be dropped after Bazel 8
common --experimental_rule_extension_api

# Check direct Bazel module dependencies are up-to-date
common --check_direct_dependencies=error

# Add mirrors for certain download URLs
common --experimental_downloader_config=bazel_downloader.cfg

common --noenable_workspace

# Enable Java 21 language features
build --java_runtime_version=21
build --java_language_version=21
build --tool_java_language_version=21
build --tool_java_runtime_version=21

# Fail if a glob doesn't match anything (https://github.com/bazelbuild/bazel/issues/8195)
common --incompatible_disallow_empty_glob

# User-specific .bazelrc
try-import %workspace%/user.bazelrc

common --incompatible_strict_action_env=true

build --remote_timeout=600s
build --grpc_keepalive_time=60s

build --remote_cache=grpcs://ij-build-grpc.labs.jb.gg

build --nolegacy_important_outputs
build:nocacheupload --noremote_upload_local_results

build --experimental_remote_cache_async=false --remote_cache_compression=true
